* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    border: none;
    font-weight: 100;
    list-style-type: none;
    text-decoration: none;
    font-family: cinzel !important;
}

@font-face {
    font-family: cinzel;
    src: url("../cinzel.ttf");
}

.container {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999 !important;
    color: silver;
    animation: forPage 4s linear infinite;
    font-size: 100px;
    transform: scale(1);
}

.first {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 999 !important;
    color: silver;
    animation: forPage 4s linear infinite;
    font-size: 100px;
    transform: scale(1);
}

@keyframes forPage {
    50% {
        transform: scale(.90);
    }
}

.x {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fccs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fsc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0px;
    z-index: 987 !important;
    width: 100%;
    background: black;

    a {
        color: silver;
    }
}

.box {
    width: 1400px;
}

header>.box {
    padding: 30px 0px;
    color: silver;
    font-size: 19px;

    ul {
        display: flex;
        gap: 55px;

        li {
            cursor: pointer;
        }
    }

    .iconsUp {
        display: flex;
        gap: 35px;
    }
}

.upLamp {
    width: 100%;
    padding: 75px 0px;
    background: linear-gradient(to top left,
            #030303,
            #141414,
            #030303);

    .info {
        color: #ccc;
        gap: 20px;

        h3 {
            font-size: 60px;
        }

        p {
            font-size: 23px;
            line-height: 30px;
        }

        button {
            background: #AA572D;
            padding: 10px 40px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            font-size: 18px;
            margin-top: 75px;
        }
    }
}

.welcome_section {
    padding: 150px 0px;
    text-align: center;
    gap: 55px;
    background: url("../images/2.jpg");
    background-size: 100% 100%;

    h3 {
        font-size: 50px;
        color: #AB582E;
    }

    p {
        color: #ccc;
        width: 770px;
        font-size: 20px;
        line-height: 30px;
    }
}

.parfium {
    max-width: 1920px;
    width: 100%;
    background: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #ccc;
    padding-right: 175px;

    .info {
        gap: 55px;

        h3 {
            align-self: center;
            font-size: 50px;
        }

        p {
            width: 590px;
            text-indent: 50px;
            font-size: 19px;
            line-height: 30px;
        }
    }
}

.slider {
    padding: 75px 0px;
    gap: 55px;
    background: black;

    h3 {
        color: #AA572D;
        font-size: 50px;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }

    .detal {
        background: linear-gradient(to right, #101010, #1D1D1D);
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
    }
}

.collection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    background: black;
    padding-top: 150px;

    h3 {
        color: #AA572D;
        font-size: 55px;
        font-weight: bold;
    }

    .jsDetails {
        width: 1400px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: 500px;
        gap: 10px;

        .ourBlock {
            position: relative;
            overflow: hidden;
            margin-top: 30px;
        }

        .ourBlock img {
            width: 90%;
            height: 100%;
            object-fit: 100% 100%;
            object-position: center;
            overflow: hidden;
            display: block;
        }

        .ourBlock h4 {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: white;
            padding: 10px;
            margin: 0;
            font-size: 18px;
            width: calc(100% - 20px);
            box-sizing: border-box;
        }

    }
}

.ourBlock:nth-child(1) {
    grid-column: span 4;
}

.ourBlock:nth-child(2) {
    grid-column: span 6;
}

.ourBlock:nth-child(3) {
    grid-column: span 5;
}

.ourBlock:nth-child(4) {
    grid-column: span 5;
}

.ourBlock:nth-child(5) {
    grid-column: span 2;
}

.ourBlock:nth-child(6),
.ourBlock:nth-child(7) {
    grid-column: span 4;
}

.collection {
    padding-bottom: 150px;

    .parfiumYear {
        width: 1400px;
        height: 700px;
        background: url("../images/15.jpg");
        background-size: cover;
        background-position: center 30%;
        background-repeat: no-repeat;
        margin: 100px auto 0 auto;
        position: relative;
        overflow: hidden;

        .parfiumYear_1 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background: linear-gradient(to top,
                    rgba(0, 0, 0, 0.95) 0%,
                    rgba(0, 0, 0, 0.5) 60%,
                    transparent 100%);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 30px;


            .textParfium_1 {
                position: absolute;
                top: -400px;
                left: 100px;

                width: 600px;
            }
        }

        .parfiumYear_1 h2 {
            width: 500px;
            color: white;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .parfiumYear_1 p {
            color: #C7C9C9;
            font-size: 15px;
            letter-spacing: 3px;
            padding-top: 20px;
        }

        button {
            background: #AA572D;
            padding: 10px 40px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            font-size: 18px;
            margin-top: 75px;
        }
    }
}

.parfiumYear::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.6) 100%);
}


.detalB {
    width: 400px;
    height: 700px;
    margin-top: 100px;

    img {
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

    h4 {
        color: white;
        text-transform: capitalize;
        padding-top: 50px;
        line-height: 25px;
    }

    p {
        color: #D6D6D6;
        text-transform: capitalize;
        font-size: 13px;
        line-height: 25px;
        padding-top: 5px;
    }

    button {
        width: 150px;
        height: 40px;
        background: transparent;
        border: 2px solid #ffffff91;
        color: white;
        font-size: 13px;
        margin-top: 50px;
        border-radius: 10px;
        cursor: pointer;
    }
}

footer {
    width: 100%;
    height: 600px;
    background: #131313;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .foot_1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        position: relative;
        border-bottom: 2px solid white;

        .fLocalFace {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -270px;
            right: 380px;


            img {
                width: 200px;
                height: 50px;
                object-fit: contain;
                object-position: center;
                overflow: hidden;

            }

            h2 {
                color: white;
                font-weight: 50;
                margin-top: 35px;
            }

            p {
                color: #9B9B9B;
                font-size: 13px;
                width: 370px;
                margin-top: 30px;
            }

            input {
                width: 400px;
                height: 40px;
                background: #1D1D1D;
                text-indent: 10px;
                border-radius: 10px;
                margin-top: 24px;
            }

            button {
                background: #AA572D;
                width: 100px;
                height: 40px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;
                color: white;
                font-size: 18px;
                position: absolute;
                left: 300px;
                top: 205px;
            }

            .icons_contact {
                width: 200px;
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 20px;
                font-size: 25px;
                animation: forPage 4s linear infinite;
                transform: scale(1);
            }
        }
    }

    .footInform {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: -190px;
        right: -800px;
        width: 1000px;
        gap: 50px;


        .ulElement {
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style: none;
            gap: 15px;
        }

        .ulElement li a {
            color: white;
        }

        .ulElement li span a {
            font-weight: bold;
            font-size: 18px;
        }

    }

    .foot_2 {
        width: 85%;
        position: absolute;
        margin-top: 400px;
        border-top: 1px solid #2D2D2D;

        p {
            color: white;
            text-align: center;
            margin-top: 50px;
        }
    }
}

.icons_contact a:nth-child(1) {
    color: #1EA1F2;
}

.icons_contact a:nth-child(2) {
    color: #3B5998;
}

.icons_contact a:nth-child(3) {
    color: #0077B5;
}

.icons_contact a:nth-child(4) {
    color: #C13584;
}

.about_section {
    background: black;
    padding: 100px 0px;
    padding-top: 250px;

    .box {
        gap: 50px;

        h3 {
            color: #AA572D;
            font-size: 45px;
        }
    }
}

.about_section>.box>nav {
    color: silver;
    font-size: 19px;
    border-top: 1px solid #333;
    padding: 25px 0px;

    ol {
        gap: 50px;
    }

    li {
        cursor: pointer;
        transition: all .5s ease;
    }

    li:hover {
        color: white;
    }
}

.about_section>.box>.all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 550px);
    gap: 35px;

    .elements {

        background: linear-gradient(to right,
                #000, #141414);
        border-radius: 30px;
        color: white;
        gap: 20px;
        font-size: 19px;

        p {
            font-size: 21px;
        }

        .for_price,
        .forStar {
            gap: 20px;
        }

        .forStar {
            flex-direction: row-reverse !important;
        }

    }
}

.offers {
    background: black;
    padding: 100px 0px;
    padding-top: 250px;

    h2 {
        color: white;
        font-size: 45px;
    }

    .aquaPerfume {
        width: 100%;
        display: flex;
        background: linear-gradient(to right, #010101, #010608, #010C12, #010C12, #010C12, #020F17);
        margin-top: 50px;

        img {
            width: 50%;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }

        .aquaPerfumeText {
            margin-left: 50px;

            h4 {
                color: white;
                font-size: 29px;
                padding: 110px 70px;
            }

            h3 {
                color: white;
                font-size: 33px;
                padding: 15px 70px;
                font-weight: bold;
            }

            span {
                color: #13D0E4;
                padding: 70px;
                font-size: 30px;
            }

            p {
                width: 800px;
                color: #888D8E;
                padding: 45px 70px;
                font-size: 15px;
            }

            button {
                padding: 12px 25px;
                background: transparent;
                border: 2px solid #ffffff91;
                color: white;
                font-size: 13px;
                margin-top: 50px;
                border-radius: 10px;
                cursor: pointer;
                margin: 12px 70px;
            }
        }
    }
}

.goldenAngel {
    background: linear-gradient(to right, #050301, #0B0603, #1D1009, #1D1009, #1D1009, #1D1009, #1E0D07, #2C180D, #040200, #050301, #050301);
    width: 100%;
    display: flex;

    .goldenText {
        margin-left: 50px;

        h4 {
            color: white;
            font-size: 29px;
            padding: 110px 70px;
        }

        h3 {
            color: white;
            font-size: 33px;
            padding: 15px 70px;
            font-weight: bold;
        }

        span {
            color: #EFA94A;
            padding: 70px;
            font-size: 30px;
        }

        p {
            width: 800px;
            color: #888D8E;
            padding: 45px 70px;
            font-size: 15px;
        }

        button {
            padding: 12px 25px;
            background: transparent;
            border: 2px solid #ffffff91;
            color: white;
            font-size: 13px;
            margin-top: 50px;
            border-radius: 10px;
            cursor: pointer;
            margin: 12px 70px;
        }

    }

    img {
        width: 700px;
        height: 600px;
        margin-top: 50px;
        margin-left: 180px;
        overflow: hidden;
        object-fit: 100% 100%;
        object-position: center;
    }

}